[2014-04-21 14:14] pooya opened #495 "DDFS GC spits out a lot of errors"
The errors are like the following:
10:10:15.760 [error] GC: unable to update tag <<"test:tmp48708">>: {error,replication_failed}
This only happens in the HEAD and is probably caused by merging #492.
The content of this tag are valid.
The replication factor has been set to 1 and the slaves lives on the same node as the master.

[2014-04-28 14:12] oldmantaiter opened #496 "Add reason to kill message"
- Add a space to enter a message when killing a job
- Maybe add an option to email the job owner that it was killed for the entered reason (or just killed for that matter)

[2014-04-29 10:28] lud4ik opened #497 "Wrong master host in job.run()"
On exceuting

[code]

I receive error:

[code]

The "wrong_host" is local box name instead of right master host (not the machine where script is run).
What am I doing wrong?

[code]

[2014-04-29 20:58] pooya commented on #497
Closing as it seems like a user error (as of the discussions in the mailing list). @lud4ik Would you please reopen if you think this is a real issue.

[2014-04-29 20:58] #497 closed, assigned to nobody

[2014-04-30 07:10] lud4ik commented on #497
I think that documentaion must contain information about mandatory env vars to set if jobs are launched on separate from cluster machine

[2014-04-30 10:25] lud4ik opened #500 "Module import error on master"
I specified required_modules as job attr:

[code]

I've set PYTHON_PATH as mentioned in http://disco.readthedocs.org/en/develop/lib/worker/index.html#modspec

I receive error:

[code]

[2014-05-04 15:12] rcarmo opened #502 "Debian package generation for wheezy is broken"
A short list of what I've come across so far, taking the current (0.5.1-ish) git tip:
- The scripts for Python 2 assume Python 2.6, even though 2.7 is now the default and could be auto-detected (I just replaced 2.6 with 2.7)
- The `disco` user directory is not supplied correctly to the `post-install` script for `disco-node` (somehow the `RELPATH`(?) variable is cleared, and `usermod` gets a blank

[2014-05-05 20:10] pavlobaron commented on #329
quite an early stage of the work is in my disco playground: https://github.com/pavlobaron/disco_playground . My local copy is a mess where I experimented with working around replica data. I didn't go on with it due to other priorities, sorry.

[2014-05-06 17:26] pooya commented on #329
@pavlobaron No worries.  I'll check that out and try to see if it can be resurrected.
Thank you.

[2014-05-07 22:09] rcarmo commented on #489
+1 for this. I'm now trying to upload a file to DDFS from a master node that has, alas, not enough storage to handle it in an uncompressed fashion, and being able to pipe things to `ddfs chunk` remotely would make that possible.

[2014-05-08 13:38] pooya commented on #489
@gijzelaerr the ddfs push command has the -x (--tarball) option that lets you specify a tar file (ddfs chunk does not have that option).
It is not suitable for @rcarmo 's situation though because it uncompresses the tar file.

[2014-05-08 13:49] rcarmo commented on #489
Actually, I'm not even using a tar file (straight up .csv.gz), but yeah, you're right. :)

On 08/05/2014, at 14:38, Shayan Pooya notifications@github.com wrote:

[2014-05-12 15:55] trein opened #508 "Static variables detected as modules"
Hi,

I've implemented a simple MapReduce job using base class `Job`, but when I try to execute it I get the error:

[code]

I've tested my code on v0.4.5 and v0.5.1, and both versions presented the problem. Debugging the code, I noticed that [`modutil.scanner()`](https://github.com/discoproject/disco/blob/0.4.5/lib/disco/worker/classic/modutil.py#L126) is considering `CONSTANT` as a module because

[2014-05-12 16:20] pooya commented on #508
@trein The map and reduce functions cannot access the global variables of the file.  This is the same reason we add this line:
    from issue_sample_job import WordCount
If you want to use the global variable you have to import it before using it:
    from issue_sample_job import CONSTANT

Or you can pass it as parameter to the job.  See the datamining/kclustering.py for an example.

[2014-05-12 16:39] trein commented on #508
@pooya Thanks for the heads-up :). I couldn't find anything about it on [docs](http://disco.readthedocs.org/en/develop/). Do you thing it would be a good idea to add more details about Disco's implementation there (like an advanced section perhaps)? I would like to collaborate and do it myself, but I think this task requires a deeper knowledge on Disco than I do so far.

[2014-05-12 19:45] pooya commented on #508
@trein Right now the inline comments in the source code are the only source of such implementation details.
I am closing this issue.  Please re-open if you think further actions are necessary.

[2014-05-12 19:45] #508 closed, assigned to nobody

[2014-06-06 15:41] pooya commented on #489
Commit f7bdd7b7fd98a33419f4fc5630b4464342f807f6 should resolve this issue.

[2014-06-06 15:41] #489 closed, assigned to nobody

[2014-06-06 15:56] rcarmo commented on #489
Thanks! I'll check out tip and give it a go over next week.

On 06/06/2014, at 16:41, Shayan Pooya notifications@github.com wrote:

[2014-06-06 18:08] pooya commented on #366
The doc is added with f8c624d59779aeb2cc55add11e320c67eac42047 in the develop branch.
Thanks!

[2014-06-06 18:08] #366 closed, assigned to nobody

[2014-06-06 18:11] pooya commented on #328
The useful parts have been added to Disco.  Thanks.

[2014-06-06 18:11] #328 closed, assigned to nobody

[2014-06-06 19:09] #294 closed, assigned to nobody

[2014-06-06 19:12] pooya commented on #496
This feature will require better information about job submitters (like the email).

[2014-06-06 19:12] #496 closed, assigned to pooya

[2014-06-06 20:50] pooya commented on #351
commit a150a370b30cf886a1fbe375880913ee02814b3b adds this feature.  Thanks.

[2014-06-06 20:50] #351 closed, assigned to nobody

[2014-06-06 20:51] pooya commented on #293
Commit 86987b89a1a57eff70ecea2d88d06aaf19905c44 adds a help message about this issue.  Thanks.

[2014-06-06 20:51] #293 closed, assigned to nobody

[2014-06-06 21:09] pooya commented on #274
The fix for this issue is already merged into the master branch.

[2014-06-06 21:09] #274 closed, assigned to nobody

[2014-06-09 15:13] pooya commented on #495
This issue is caused by a bad configuration file.  If the total number of available nodes is less than the replication factor, gc can never succeed.  The error message will be modified to be more informative.

[2014-06-09 15:13] #495 closed, assigned to nobody

[2014-06-09 15:18] pooya opened #533 "ddfs gc may fail if we are in the middle of creating a tag"
In order to reproduce this issue we can use the following for loop in shell:
for i in $(seq 1000); do ddfs chunk chek$i ./xa? ; done

On a single node cluster.

If we start the gc from the UI now while this for loop is executing, the gc sometimes fails with something like the following error message:
 [error] GC: stopping, unable to get tag <<"chek617">>: {{missing,notfound},false}

This seems to

[2014-06-10 21:40] pooya opened #535 "the newly created tag might disappear if it has been deleted before."
At the moment, when a tag that has been deleted before is re-created, Disco responds to the client as soon as the tag is created.  However, it also schedules to remove this tag from the +deleted tag (if it is in there) asynchronously.  If the later operation fails, Disco assumes that the tag is deleted while it has already told the client that the tag-creation has succeeded.

[2014-06-12 15:58] pooya commented on #535
This issue was resolved by commit: 80ed442ee3083addcd2e0b63d8d3be4c27d3a3c7
There is still the possibility of acknowledging a write but failing to update the deleted tag. Therefore, this issue will be left open.

[2014-06-12 15:58] #535 closed, assigned to nobody

[2014-06-17 14:20] pooya commented on #500
@lud4ik Disco tries to import this module and fails. Is it in the python path?

[2014-06-19 17:39] pooya commented on #358
Closing as not reproducible.

[2014-06-19 17:39] #358 closed, assigned to nobody

[2014-06-19 17:47] pooya commented on #247
I think this issue no longer applies. Please re-open if you think otherwise.

[2014-06-19 17:47] #247 closed, assigned to nobody

[2014-06-23 13:35] pooya commented on #223
This is fixed with commit 9918000c5ab1fe2fa3970c86bd4ac176e5064046. The ddfs xcat command still waits a long time for unavailable replicas.

[2014-06-23 13:35] #223 closed, assigned to nobody

[2014-06-23 14:04] pooya commented on #58
Closing this feature request because of its similarities to https://github.com/discoproject/disco/issues/184

[2014-06-23 14:04] #58 closed, assigned to nobody

[2014-06-23 14:06] pooya commented on #59
In Disco 0.5.1 we can use folosom and disco_profile:timed_run to measure the time it takes to run a function.

[2014-06-23 14:06] #59 closed, assigned to nobody

[2014-06-23 14:08] pooya commented on #232
I am closing this issue because it goes under the umbrella of improving meta-data handling in DDFS. As Prashanth mentioned the shuffle improvements are already in disco 0.5.

[2014-06-23 14:08] #232 closed, assigned to nobody

[2014-06-23 14:12] pazooki commented on #232
Good work boss!

[2014-06-23 14:22] pooya commented on #500
Closing this issue because it cannot be reproduced. Please re-open this issue if you could reproduce it on HEAD.

[2014-06-23 14:22] #500 closed, assigned to nobody

[2014-06-23 20:52] pooya commented on #502
Hello @rcarmo I have updated the Debian package and it seems to be installing and running without any problems on a vanilla Debian Wheezy.  Would you please retest and let me know if there are any problems? Thanks.

[2014-06-23 20:53] pooya commented on #487
Fixed with 62ee41503. The key generation is also added for simpler installation.

[2014-06-23 20:53] #487 closed, assigned to nobody

[2014-06-23 20:54] pooya commented on #486
This suggestion is employed with 72ea146c29560d8c00cbeb5a0c9b371c065b656e.

[2014-06-23 20:54] #486 closed, assigned to nobody

[2014-06-23 21:03] pooya commented on #232
@pazooki Thank you sir.

[2014-06-24 09:17] rcarmo commented on #502
Sure thing, will keep you posted.

[2014-06-24 17:36] pooya opened #546 "A job may get stuck if the number of workers decreases"
I saw a job get stuck when I decreased the number of workers of a node while the job was running. This happened on the second job of test_pipe with 6 nodes. Each node had 1 worker and in the middle of the execution of the job, the number of workers of three of them decreased to 0.
The job stopped with 3 tasks in waiting state and 3 tasks in done state. The 3 waiting tasks did not get to the runnin

[2014-06-24 18:24] pooya opened #547 "Test failures under random task failures."
When there are random task failures (using the chaos.sh failures) some of the tests might fail. These issues are tracked down to be the test issue:
- test_profile fails because it asserts on the number of tasks that have produced profile info.
- test_schemes fails because it asserts the input is local. If the task fails, it is going to be started on another node (that does not have local input) an

[2014-07-02 08:49] alexcepoi commented on #236
this is closed as a duplicate of itself?

[2014-07-02 13:11] pooya commented on #236
@alexcepoi That seems to be a mistake. Is this still a bug (I haven't seen it)?

[2014-07-02 13:37] alexcepoi commented on #236
I'm running an old version from dec 2012 and I do get that, although not sure if it has been fixed since then. Will update when I upgrade :)

[2014-07-08 14:15] dangra commented on #252
fixed by https://github.com/discoproject/disco/commit/6de939b

[2014-07-08 14:16] dangra commented on #252
this issue can be closed.

[2014-07-08 16:23] pooya commented on #252
Thanks.

[2014-07-08 16:23] #252 closed, assigned to nobody

[2014-07-09 14:18] pooya opened #551 "DDFS GC should reuse the the blob_map and tag_map if gc fails in a later stage."
If ddfs gc fails for any reason in a stage after build_map, it should not give up the blob_map and tag_map ets tables. Chances are the admin is going to restart the gc very soon and the maps can be reused for the next gc.
These ets tables should be deleted only when the gc terminates successfully, or when they expire.

This means we also have to set an upper limit on the length of each stage of th

[2014-07-09 19:52] pooya opened #552 "The number of running tasks is not shown correctly"
I saw a scenario where the number of running tasks was zero while the number of waiting tasks was constantly decreasing. The job finished successfully afterwards which suggests that this is a UI issue in disco 0.5.2.
In this scenario, two nodes were blacklisted and there were a couple of failed tasks.

[2014-07-13 09:42] rcarmo commented on #502
I haven't had time to test these yet, sorry.

[2014-07-15 11:14] rcarmo commented on #489
Hello there. I tried a fresh checkout, and both ddfs push and ddfs chunk seem to have trouble with parsing "-". Chunk complains that the "-" tag is not found, and push just pushes an empty file.

The command line I'm using is `zcat dataset.gz | ddfs chunk data:dataset -` and I'm getting:

`Unable to access resource (http://master:8989/ddfs/tag/-): Tag not found. (404)`

[2014-07-15 13:28] pooya commented on #489
@rcarmo Please also update the python library (go to the lib directory and python setup.py install). This option only works for chunk (not push). You should see a help message about it when you issue:
  ddfs chunk --help
Thanks

[2014-07-15 13:33] rcarmo commented on #489
I did a full make install and there was nothing in ddfs chunk --help (checked that before posting), but will check again.

On 15/07/2014, at 14:28, Shayan Pooya notifications@github.com wrote:

[2014-07-15 13:45] pooya commented on #489
@rcarmo There is a bug in Disco's installation process that does not re-build the python packages.

[2014-07-15 14:21] rcarmo commented on #489
Quite so. I've since noticed that even after reinstalling, the Web UI still says it's version `Disco 0.5.1-76-gb5eef0c`.

I've tried uninstalling and reinstalling, and it's still presenting the same version number, so I'm going to take a more drastic approach...

[2014-07-15 15:39] pooya commented on #489
@rcarmo That might be because we have changed disco to be installed in /usr/ instead of /usr/local. You have to go back to the old version. Uninstall it and then come to the new version and install the new one. Sorry for the inconvenience but we had to do it some time

[2014-07-16 20:01] rcarmo commented on #489
Fixed the install problems and `ddfs chunk` now takes input from stdin, but it appears to have a memory leak -- I'm watching a very large import and the RAM taken is mounting steadily. Will report later.

[2014-07-16 21:29] ncloudioj opened #555 "dPickle Drops Partial Function "__name__" Field"
Disco 0.5.2, when using partial functions for the pipeline callbacks. It'll ignore the "**name**" field in the partial functions.

[2014-07-17 19:18] pooya opened #556 "ddfs push should return failure if there is no files supplied to it."
The following command succeeds at the moment:
  ddfs push tag ./no_such_file
A better behaviour is to report a "no such file or directory" error.

[2014-07-17 20:52] rcarmo opened #557 "ddfs chunk fails on import"
I tried to import a variable-width data file via stdin to `ddfs chunk`, which failed with the following message:

[code]

The file format is essentially a set of UUIDs separated by commas, with a variable number of columns per record.

It's fairly large, so it's hard to pinpoint exactly why this is failing, but I don't think it's due to a line exceeding one MB.

[code]

Any ideas?

[2014-07-17 21:17] pooya commented on #557
@rcarmo It seems like disco is not detecting the newlines, trying to put everything as a single record and failing because of its large size.
Which command did you use for pushing data into ddfs?

[2014-07-17 21:22] pooya commented on #557
Also, just to make sure the lines are not too big, would you please run the following command?
$ for i in $(zcat /srv/jobs/dataset.gz); do echo ${#i} >> /tmp/disco_tmp_sizes; done
$ sort /tmp/disco_tmp_sizes | tail

Assuming you have enough memory to store the sizes.

[2014-07-17 21:31] rcarmo commented on #557
I did a straight `zcat dataset.gz | ddfs chunk data:dataset -`. I'm now waiting for a `wc -L` to finish, should take a while. But an earlier test import of `zcat .. | head -n 100000 | ddfs chunk...` worked, and that should have enough "atypical" samples.

Will report back.

[2014-07-21 10:15] alexcepoi opened #558 "job gets stuck with waiting -1"
Sometimes jobs seem to get stuck in disco and are not killed by the timeout. The web interface reports a weird "-1" as number of waiting tasks.

![disco_hang_waiting](https://cloud.githubusercontent.com/assets/215764/3642169/3148036a-10be-11e4-9dae-b213f970559d.png)

All nodes are available and work as usual. The only thing I see relevant in the logs are [these lines](https://gist.githubuserconten

[2014-07-21 12:26] pooya commented on #558
Thanks for reporting this @alexcepoi Are you using version 0.5.2? Also, would you please let me know how many nodes you have and how many workers each of them has?

[2014-07-21 12:42] alexcepoi commented on #558
v0.5.2 yes, with a few small settings changes which should not be relevant (FTR [here](https://github.com/scrapinghub/disco/compare/scrapinghub-0.5))

Running a cluster of 4 nodes, 12 workers each. Let me know if I can provide any more relevant details.
Many thanks.

[2014-07-21 15:17] pooya commented on #552
This issues has happened when running test_50k. The job finishes successfully, but the UI is definitely buggy. Moreover, it is not possible to kill the job when it is in this state (purging it works fine though).

[2014-07-21 16:52] pooya commented on #558
@alexcepoi I finally reproduced this issue. You might want to increase the TASK_SUBMIT_TIMEOUT value in master/src/job_coordinator.erl to a bigger value (like  5000 ms) to work around this problem for now. I'll be working on root-cause-analysis and a fix later.

[2014-07-21 17:23] pooya commented on #558
The problem is that the disco_server:new_task is not idempotent. If we call this function and the call times out, we do not whether the fair_scheduler:new_task is called or not. If it is called and then the task submission times out, job_coordinator will retry the task and there will be inconsistencies.
In order to avoid this problem, we can set the task submission timeout to infinity or cast the

[2014-07-22 21:00] pooya commented on #558
This issue should be resolved by 24ba07d4ee6650a035d99fe779df16485343d615. Please re-open if it persists.

[2014-07-22 21:00] #558 closed, assigned to pooya

[2014-07-24 13:53] pooya commented on #552
The issue is with the large number of messages in the mailbox of the job_coordinator process. Most of these are the ask_started and task_done messages. This also shows why we cannot kill the job, the job_kill message is going to be queued behind these task messages.

[2014-07-28 11:02] alexcepoi commented on #558
Indeed this fixes it, many thanks!

[2014-07-28 20:28] pooya commented on #555
Fixed with commit 06cb9e00afa9870eca3c034335aadf6eb27f6040

[2014-07-28 20:28] #555 closed, assigned to nobody

[2014-07-28 20:31] pooya commented on #552
The performance of the job_coordinator is improved with commit 40ee23966af8fb2a5790437be55df8d320eb4d85.

[2014-07-28 20:31] #552 closed, assigned to nobody

[2014-07-29 17:42] pooya commented on #556
This is fixed in 8f67a8d6429258d1068ae4da55a9a7e19148da9d.

[2014-07-29 17:42] #556 closed, assigned to nobody

[2014-07-29 18:40] pooya commented on #405
Closing because this test has been running reliably for a long time now.

[2014-07-29 18:40] #405 closed, assigned to nobody

[2014-07-29 18:48] #386 closed, assigned to pooya

[2014-07-29 19:14] pooya commented on #56
This seems to be implemented a long time ago.

[2014-07-29 19:14] #56 closed, assigned to nobody

[2014-07-29 19:14] pooya commented on #60
This has been added by the concurrent stages. It is not enabled by default though

[2014-07-29 19:14] #60 closed, assigned to nobody

[2014-07-29 19:16] pooya commented on #61
This issue has been fixed by the introduction of labels. There is no automatic checks available for the size of these labels though.

[2014-07-29 19:16] #61 closed, assigned to nobody

[2014-07-29 19:50] pooya commented on #66
This feature does not seem to be congruent with what disco does. There are a lot of other tools that can be used for running anything on a set of nodes.

[2014-07-29 19:50] #66 closed, assigned to nobody

[2014-08-05 20:26] pooya opened #569 "The number of Running and Done tasks can get more than the total number of tasks"
![disco_ui_issue](https://cloud.githubusercontent.com/assets/247155/3818133/a8956a9e-1cde-11e4-8373-3959e2c6cab2.png)
This happens when we have a large number of workers (100 in this case) for each slave node.

[2014-08-05 20:44] pooya commented on #569
The reason this happens is that we are getting the information about the "running" and "done" tasks from two different sources. We first consult the disco_server and get the information about the "running" tasks and then we consult the job event handlers and get the information about the "done" tasks.  If any of the tasks finishes in this small window of time, it will be counted both as a running

[2014-08-11 02:23] joowade commented on #533
Hi,Im a new comer for DISCO.I want to get some help from you.I have pushed the data to a tag(ddfs chunk data:*\* ./**),even I can get the information about where they are located(ddfs blobs data:**).But when I run the job , the stages including map ,map_shuffle,reduce, are 0 pending,0 waiting,0 running,0 done,0 failed.I think maybe the ddfs can't discriminate the tag?What's the caution?

[2014-08-11 02:29] joowade commented on #310
Hi,Im a new comer for DISCO.I want to get some help from you.I have pushed the data to a tag(ddfs chunk data:*\* ./),even I can get the information about where they are located(ddfs blobs data:).But when I run the job , the stages including map ,map_shuffle,reduce, are 0 pending,0 waiting,0 running,0 done,0 failed.I think maybe the ddfs can't discriminate the tag?What's the caution?

[2014-08-14 14:20] pooya opened #570 "ddfs xcat hangs if the first replicas are unavailable."
This is similar to issue #223. We can check the list of available nodes and only try to fetch a replica if it is known to disco.
This has also caused the GC to faile with the following message.

GC: stopping, unable to get tag <<"test">>: {error,timeout}

Therefore, it is not just a UX issue.

  ddfs blobs test

yields the following:

disco://dev02/ddfs/vol0/blob/e5/test-0$57f-ea20f-9fd7f       di

[2014-08-14 14:22] pooya commented on #570
ddfs xcat test
took almost 6 minutes which is not acceptable.

[2014-08-14 14:28] pooya commented on #570
In this scenario the job is also significantly slowed down.

[2014-08-15 10:36] pooya opened #571 "no function clause matching job_coordinator"
The error message:

2014-08-15 10:41:48.954 [error] <0.19313.10> gen_server <0.19313.10> terminated with reason: no function clause matching job_coordinator:terminate({function_clause,[{job_coordinator,do_task_done,[61,"disco2",{error,"Jobpack extraction failed:..."},...]},...]}, ok)
2014-08-15 10:41:48.954 [error] <0.19313.10> CRASH REPORT Process <0.19313.10> with 0 neighbours exited with reason

[2014-08-15 10:39] pooya commented on #571
Reported on the mailing list: https://groups.google.com/forum/#!topic/disco-dev/XETDuWCv4kc

[2014-08-15 11:17] pooya commented on #571
This commit might be related: 24ba07d4ee
We have to make sure disco jobs can still sustain the erors that arise from slave failures (such as jobpack extraction failure).
It is definitely not acceptable to kill a job just because of such a failure.

[2014-08-25 18:36] pooya commented on #571
This issue should be fixed with 179e6819129d787812b2175d8ba17b1bba898442.

[2014-08-25 18:36] #571 closed, assigned to nobody

[2014-08-28 18:23] pooya opened #574 "files with long names cannot be chunked into ddfs"
DDFS adds a "partial" and a timestamp in front of the file names and may violate the 255 filename limit of the operating system.

[2014-09-10 03:13] pooya commented on #574
Fixed with commit bea4d5f8f6c111.

[2014-09-10 03:13] #574 closed, assigned to nobody

[2014-09-14 02:09] pooya opened #577 "Handle whitespaces in the raw input"
Currenly, a raw input cannot have a whitespace in it. We get error messages like this:

[code]

We probably can generalize the raw input to be able to accept various types of inputs

[2014-09-14 14:52] pooya opened #579 "Add support for streaming"
This issue will track the progress of Disco Streaming.

Add support for streaming data into disco jobs. Currently, when a Disco job starts, it knows all of the inputs and schedules tasks based on these inputs. An alternative, would be to accept a stream of inputs and create new tasks as the inputs become ready.

The idea has been tackled by Spark before:
http://www.cs.berkeley.edu/~matei/papers/20

[2014-09-14 20:32] kd0g opened #580 ""bin/disco nodaemon" fails on mac 10.10 (yosemite dp7)"
from yosemite, "/usr/libexec/StartupItemContext" removed.

if i do "sudo ln -s /bin/bash /usr/libexec/StartupItemContext",
disco master starts, but slave don't.

[2014-09-16 03:40] pooya commented on #580
Thanks for reporting this. I will try to figure out what's happening as soon as I get a chance to work with this version of OSX.

[2014-09-26 04:27] pooya opened #584 "When save_results is specified for a job, the job fails."
Disco tries to save the results of the map phase in DDFS which is completely wrong and fails with varioush error messages.
This is a legacy functionality that remains from the time that saving to ddfs was the responsibility of the client worker. Now the client only should set the save_results value in jobpack.

We were using the 'save' option instead of 'save_results' in the tests which is why we

[2014-09-26 05:13] pooya commented on #584
Should be fixed with 556fb2a8575

[2014-09-26 05:13] #584 closed, assigned to nobody

[2014-09-28 16:04] pooya opened #586 "GC fails to find the blobs of a tag and removes them from the tag"
This causes issues like this:
https://github.com/chango/inferno/pull/16
The blobs are sent to ddfs correctly and are replicated. However, during the gc, we fail to find any of the replicas so they are deleted from the tag. In the future GCs, they are actually found and deleted because they are now orphaned.

[2014-10-09 13:28] aegray commented on #569
Your explanation for the cause makes sense but seems to suggest its a UI issue.  Do you have any idea why, when we see this, the job always seems to hang indefinitely with negative waiting count?  No further progress is made and nothing is actually run on the job once we see the count go negative on the ui.

[2014-10-09 15:02] pooya commented on #569
There was a bug in 0.5.2 with the same symptoms that caused the job to hang. Please upgrade to 0.5.3. If you still have this issue in 0.5.3, then it is a different issue and should be tracked and fixed separately.

[2014-10-09 15:56] pooya opened #590 "DDFS GC gets stuck in rr_blobs_wait"
This has happened two times in a cluster. The cluster is running an older version of Disco but the issue might be present in newer versions too.

[2014-10-22 01:16] pooya commented on #580
Please re-open if there is still some failures.

[2014-10-22 01:16] #580 closed, assigned to nobody

[2014-10-22 17:16] trein opened #592 "```"

[2014-10-22 17:21] trein opened #593 "Client seems to consistently lose the connection to the master"
Hi.

I'm using Disco v0.5.3 with a cluster on AWS and the disco client seems to consistently lose the connection to the master. Here is the stack-trace:

[code]

I was looking at old issues and it seems https://github.com/discoproject/disco/issues/182 and https://github.com/discoproject/disco/issues/183 are very similar to my current problem.

[2014-10-22 17:22] #592 closed, assigned to nobody

[2014-10-22 17:36] pooya commented on #593
@trein Could you please attach the disco logs in the master node? You might also want to run the healthcheck.sh script (https://github.com/pooya/discostuff/blob/master/healthcheck.sh) to make sure there is no configuration issues.

[2014-10-24 15:11] trein commented on #593
@pooya thanks for the quick reply. The disco logs in the master node:

[code]

We tried to execute `healthcheck.sh`, but it kept running for more than 16 hours... We finally killed the process. Let me know if we can provide you with any additional info.

Thanks.

[2014-10-24 21:41] pooya commented on #593
healthcheck.sh should succeed in a very short time. There is a very high chance that this is a configuration issue. See the troubleshooting page in disco wiki, make sure you can ssh from any machine to any other machine without requiring a password, and check the erlang cookies.

[2014-10-30 01:36] pooya opened #596 "Parallelize getting the blobs of multiple tags for the input of a job"
The ParallellInput class should be improved to be able to send multiple http requests in parallel and get the blobs of the tags in parallel. This will reduce the latency of launching jobs which have a lot of inputs from ddfs.

[2014-10-30 01:42] pooya opened #597 "Tasks will wait for a single node which is busy, while there are other nodes that are idle"
From the thread:
https://groups.google.com/forum/#!topic/disco-dev/pIynGbq1qMk

The scheduler decides to run some tasks on a node and keeps them in the waiting stage. However, there might be other nodes that are free and can run that task. The scheduler should be improved to avoid such early assignments. Anothe solution might be using a task-stealing mechanism to let some nodes steal the tasks of

[2014-10-30 11:01] trein commented on #593
Hi @pooya

We ended up rolling back to v0.4.5. Now everything is working properly. Has anything change from v0.4.5 to v0.5.3 with respect to configuration/settings? It seems kind of odd that v0.4.5 worked but not 0.5.3. Please, let me know if I can help you with anything else.

Thanks.

[2014-10-30 12:03] pooya commented on #593
One major change is the place disco is installed. I am not sure how that might lead to this issue though. Would you please describe the steps you take for configuring disco on AWS? Also, the OS version and whether you have upgraded from an old version of Disco to the newer version or was it a clean install.

[2014-10-30 15:27] bakhtiya commented on #593
Hi @pooya,

Not a problem. We always do clean installs via new cloud instance creation. We compiled Disco from source after checking out a certain version. We are running Ubuntu 12.04.2 instances on 64bit kernels. The specifc kernel version is  "Linux _._.com 3.2.0-49-virtual #75-Ubuntu SMP Tue Jun 18 17:59:38 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux". All communication on ports/types via ICMP/TCP/

[2014-10-30 23:28] pooya commented on #593
@bakhtiya Thanks. I'll see if I can reproduce this issue.

[2014-11-02 17:13] pooya commented on #593
I was able to reproduce this issue on EC2. However, it seems like an external rate-limit enforcement that makes the whole system unresponsive and results in the timeouts. In my tests, I was using a micro instance and after hitting this issue, I lost communication to the master and had to terminate it.

[2014-11-02 17:31] pooya commented on #593
More info from the failures:

[code]

In this failure, the worker is lost due to an out of memory failure.
From the tail of dmesg:

[code]

[2014-11-03 08:11] erikdubbelboer opened #599 "ddfs ls glob instead of prefix"
It would be nice if the [ddfs ls](https://github.com/discoproject/disco/blob/develop/bin/ddfscli.py#L275) command didn't just work with prefixes but whole glob patterns.

One options would be a command line flag to indicate whether the prefix argument is a prefix or a glob pattern. A better option would be to always append a \* to the end of prefix (if there isn't already one) so the command is ba

[2014-11-04 10:38] erikdubbelboer commented on #597
We're seeing a similar thing with our setup of 2 nodes where one node has twice as many workers as the other while being a similar machine. The node with twice as many workers finishes it's tasks much quicker and then just waits for the other node.

I'm not familiar with erlang at all but I wouldn't mind spending some time to dive into it and try to fix this if someone could quickly point me in th

[2014-11-04 14:21] pooya commented on #597
In master/src/job_coordinator.erl. At the beginning of a stage, the start_next_stage function is called which gets all of the outputs of the previous stage and calls do_submit_tasks and then do_submit_tasks_in which will schedule the task. We have a mechanism for limiting the number of tasks (job_event:can_run_task) which doesn't do much now. I think the best solution is to modify this policy to a

[2014-11-04 23:15] bakhtiya commented on #593
Thanks @pooya. Upon error, we were very cognizant to check system resources including memory usage, disk IO, network IO, CPU usage as well as system logs. Everything looked fine / underutilized.  The issue still may still lie within EC2's infrastructure imposing some external rate limit or IO bottleneck. I will test on dedicated hardware with the same configurations.

Is there any way for the Disc

[2014-11-05 00:53] pooya commented on #593
@bakhtiya Disco does not, however, Erlang is pretty good on that side and it exposes a lot of great information. Disco is integrated with folsom and folsomite which expose these information to grpahite. You can use something like hostedgraphite.com and get Disco to send the metrics to it. These metrics include a couple of important latencies from Disco and also a lot of information about The Erlan

[2014-11-05 02:11] pooya commented on #599
ddfs_util:startswith function is responsible for this operation. This function accepts two binaries and should be very fast. listing tags with a specific prefix should be fast, so we have to be careful not to introduce a noticeable performance regressions.

[2014-11-07 11:42] erikdubbelboer commented on #599
I'm unfamiliar with erlang so I'm afraid I can't fix it myself. Doesn't erlang have a library function comparable to https://docs.python.org/2/library/fnmatch.html ?

[2014-11-07 13:07] pooya commented on #599
I couldn't find any good glob implementation in Erlang. Of course it has first and second level pattern matching but that's an overkill for this.

[2014-11-10 06:38] erikdubbelboer commented on #599
I have been thinking about our use case and I have decided to do thing differently. I think I was trying to use the ddfs tagging system too much like an index instead of just tags. We now keep data about the tags in a separate database and use that to quickly query which tags we should request.

[2014-11-10 06:38] #599 closed, assigned to nobody

[2014-11-10 14:12] pooya commented on #599
@ErikDubbelboer You might also want to take a look at the tag attributes in ddfs. They try to mimic the behavior of UNIX file attributes and keep meta-data about the files. Although, you still have to query them from Disco.

[2014-11-10 15:35] erikdubbelboer commented on #599
I looked into it but it's not suitable for the things we want to do.

We store data in hourly increments and sometimes we need to map all tags for a certain time range. Things like UNIX file attributes are also not suitable for this.

[2014-11-23 22:40] pooya commented on #570
The initial issue should be resolved with pull request #600. We still have to reproduce and fix the gc issue.

[2014-11-26 11:45] erikdubbelboer opened #601 "Job stuck if server has 0 workers"
I have one server which I only wish to use for storage. If I set the `Max workers` to 0 for the node all jobs hang waiting on what seems the server with 0 worders to do anything. Once I set the `Max workers` back to 1 the hanging jobs run some tasks and then finish.

Some jobs already finished all their `map` phase tasks but didn't start to `map_shuffle` until I gave the server 1 worker. Other job

[2014-11-28 05:26] erikdubbelboer opened #602 "Disco fails to start on CentOS"
After doing the normal install process disco fails to start on CentOS.

The problem is fixed by manually filling `/usr/var/disco/disco_8989.config` which seems to be empty after the first start.

Versions:

[code]

Disco is installed using `sudo make install`. The python libs are also installed system wide.

`/usr/var/disco/` and `/usr/lib/disco` are both chowned to the user which starts disco.

W

[2014-11-30 07:25] erikdubbelboer opened #603 "Slow uploads with high latency"
I have noticed that uploads to disco get slower when the latency gets higher.

Since it's normal HTTP over TCP I was wondering if Disco does something special when reading from the TCP socket that could slow things down when the latency is higher. Or does Disco somehow makes the TCP receive buffer very small resulting in a lot of packet round tips.

The below tests are done using `curl` to make su

[2014-12-01 06:02] erikdubbelboer commented on #603
I just tested `nginx` as proxy in front of the `DDFS_PUT_PORT` (without any nginx buffering). This way I get the full 10M/s speed again. For now this is a solution to my problem but I would prefer if this issue is fixed in Disco.

[2014-12-17 11:21] etataurov opened #604 "contrib/docker/Dockerfile issue"
I've built image from master branch and see this

[code]

and I can't connect via ssh to figure out what is going on

[code]

Docker version 1.4.0, build 4595d4f

So I wondering, why it doesn't work in docker?
BTW this works for me https://github.com/gijzelaerr/discodocker

I would appreciate your help

[2014-12-18 17:07] sloweater commented on #597
I had the same issue and "fixed" this by changing master/src/pipeline_utils.erl line 118.  This is in the function group_outputs(split, Outputs).  I changed `pick_local_host(Reps)` to `none`.  Making this change lets the scheduler select a host to run on, rather than forcing the task to run on the host that gets randomly selected in this function.

This does mean the task can now get scheduled on

[2014-12-18 18:00] pooya commented on #597
@sloweater interesting. Are you sure you had the same issue?

[2014-12-18 18:54] sloweater commented on #597
It was the same behavior described by ErikDubbelboer above, where tasks in the first stage were waiting to run on a node with fewer workers than the others.  Oh, I was using the pipeline worker rather than the map-reduce, that probably makes a difference, didn't think about that before.

[2015-01-21 21:37] trein opened #609 "Disco pickling _conpile from re.py when using virtualenv"
Hi,

I'm currently developing some tools with Disco (v0.4.5) to automate a few repetitive tasks and I came across a problem while using virtualenv. I created a very simple MR job that reproduces the problem I'm currently experiencing:

[code]

The error that I get just after dispatching the job is:

[code]

It seems that Disco is trying to pickle the function `_compile` from the `re.py` module. I

[2015-02-03 17:22] aegray opened #610 "Seeming race condition with job status"
We've scaled up our disco usage a fair amount and I've been seeing a few strange errors when the cluster is under heavy load.  It looks like jobs semi randomly have a JobError exception thrown - the more load on the cluster the more it seems to happen.

It appears that this is happening inside of job.wait() - When tracking down what was happening, I added some extra code to disco/core.py / check_r

[2015-02-07 14:57] oldmantaiter commented on #408
Was thinking about this today, it would be interesting to add something in the extended attributes of the tag for the following metrics:
- last accessed
- first created
- size in cluster

Then we could issue something along the lines of a ddfs stat for the tags and get similar output to stat on the filesystem.

This would add some overhead for each tagging operation, but we could also do this as a

[2015-02-07 14:58] oldmantaiter commented on #408
We could also add something like retention, where a "janitor" type job could iterate over the tags and see if that tag is set to expire, that way it could automatically clean them up for the next GC. Currently we use a script for this that is not very intuitive as we have to add tags to them if new types of data are pushed to the cluster.

[2015-02-08 21:55] pooya commented on #610
Yes. I have seen this issue. The race condition is with the following code in job_event.erl:

[code]

If the job has finished successfully, we still respond that the job is dead.

[2015-02-08 22:05] pooya commented on #609
Hey @trein Do you still see this problem if you cherry-pick commit 06cb9e00afa9870eca3c034335aadf6eb27f6040?

[2015-02-08 23:02] pooya commented on #604
Thanks for reporting this. It should be fixed in the develop branch now. For production usecases, I recommend the @gijzelaerr's version (with these fixes) because using supervisord two run multiple services inside a single docker container is not recommended.

[2015-02-08 23:02] #604 closed, assigned to nobody

[2015-02-09 15:55] lispking opened #611 "Why not use long name instead of short name?"
I found that when use "disco start" command to start disco service, it would be use -sname as node name, why not use long name instead of it?

[2015-02-11 15:35] trein commented on #609
@pooya Just tested this morning. I'm still getting the same error. The function `_compile` still being considered as non STD.

[2015-02-15 21:08] cstoudt commented on #360
Andre,

Although the documentation says "you should be relying on DNS to resolve hostnames, not /etc/hosts on an individual machine" I'm doing just that.  I have a small cluster and managing host files is a lot easier than setting up and maintaining a local DNS server.

So far, everything seems to work.  Perhaps there are some "gotchas" that I don't (yet) know about?

[2015-03-05 21:34] jgrnt commented on #603
I did some investigation on that issue, as it seems really limiting.
I setup local network shaping with http://github.com/lostcolony/damocles  and could confirm the behavior.  The very small and fixed tcp window size is problematic when the RTT is that high.

One has to change the socket options in mochiweb to get a comparable speed to a low latency link.

[2015-03-12 17:24] reevapp commented on #579
That sounds something like Inferno: https://github.com/chango/inferno
A rule can check for files by tag and run the MapReduce Job when enough is accumulated.

[2015-03-16 03:23] tigerite opened #612 "Ability to Designate Reduce-only Nodes (or Map-only Nodes)"
Hello

I am looking for a way to set certain nodes in my cluster as "reduce only" nodes, ie. nodes that are only available for executing the reduce stage of jobs.

Conversely, you can have the option to set "map only" nodes, ie. nodes that are only available for executing the map stage of jobs.

In my cluster, I have two kinds of servers: one set of high performance servers for executing the heavy

[2015-03-16 07:48] pooya commented on #612
Hi, the code that chooses a node is available at job_coordinator:do_submit_tasks_in. This might be overridden later based on the node availability.

Please note that this type of cluster is not very common. If the nodes are not uniform, you can already set the number of workers per node. Moreover, the idea is to push computation to the data. If a map is performed on a node, the output of the map w

[2015-03-16 07:50] pooya commented on #579
Yes. But inferno has nothing to offer for ETL and also it does not use the modern pipelines available in disco 0.5+

[2015-03-18 13:15] tigerite commented on #612
Thank you pooya!

I think the best solution in this case is to not even have a reduce function (stage).

Can you confirm that Disco will just return the results of the map function to the master without doing any NOP shuffling and reducing?

[2015-03-19 20:48] gilesbrown opened #614 "Reference to unicode type in comm_pycurl.py breaks Python 3"
There is a reference to "unicode" which breaks disco on Python 3:
https://github.com/discoproject/disco/blob/develop/lib/disco/comm_pycurl.py#L90

[2015-03-31 21:55] tigerite opened #618 "Function comm_pycurl.upload: Add handling of when status=0"
Function comm_pycurl.upload currently does not handle the case when status is 0.

Update https://github.com/discoproject/disco/blob/develop/lib/disco/comm_pycurl.py#L136 to:
elif status == httplib.SERVICE_UNAVAILABLE or status == 0:

[2015-03-31 22:09] tigerite commented on #597
Remember that the Map-Reduce paradigm is about bring computation to the data.

So if the majority of all your data is only exists on one node, then jobs must wait until workers are available on that node.

So you must fine tune the distribution of your data uniformly across the DDFS nodes.

Strategies to help distribute your data:
1) At the beginning of your job cycle, it helps if your DDFS nodes

[2015-04-01 13:24] erikdubbelboer commented on #597
@tigerite We have this issue even though all data is available on all nodes so I'm afraid your suggestion doesn't fix the real problem.

[2015-04-01 18:36] tigerite commented on #597
Hi Erik

I'm not doubting the disco job scheduler needs to be smarter.

The problem is that if you tell disco to process X chunks of data, it will pre-schedule X tasks to run on the available nodes by _pre-selecting the input_ for each of these X job tasks. If the chunks of data are uniformly distributed or replicated across the nodes, there should be the same amount of tasks schedule for each nod

[2015-04-09 06:05] saprativejana commented on #547
can you give me a little details on the bug.

[2015-04-16 22:44] sumpfork opened #619 "Switch to python builtin hash function generates too few partitions for tuple keys"
Python 2.x: In 0.5.3 disco used md5 on a stringified version of the key mod the number of partitions to generate partition assignments by default. In 0.5.4 this switched to using the python hash() call. Calling this on tuples yields very few results when taken mod a low number like 100 - we're seeing in the range of 2-16 or so, yielding far few actual partitions than requested. Using strings works

[2015-06-12 08:53] erikdubbelboer opened #622 "UserWarning: Duplicate name job.py and worker.py"
When starting a job you always get the following two warnings:

[code]

These are cause by https://github.com/discoproject/disco/blob/83874d93e74491c15699233865880ffb9ca7c2a0/lib/disco/worker/__init__.py#L242-L243

I was wondering why these two lines are there seeing as `discopath` already contains these?
I removed the lines and ran `make test` which didn't result in any errors.

[2015-06-12 09:18] erikdubbelboer commented on #610
We see this error quite often as well. I was wondering if there is any update on when this will be fixed?

I would like to look at it myself but I'm not good with Erlang and not yet very familiar with the Erlang part of the disco codebase.

Am I correct to say that the job coordinator sends a `ready` message to [`do_update`](https://github.com/discoproject/disco/blob/83874d93e74491c15699233865880f

[2015-06-12 13:12] aegray commented on #610
Locally, to avoid most of the issues with this (at least to make the client job code not think the job died), I changed disco/core.py to replace the check_results function with this:

[code]

I realize this is really suboptimal and hackey, but I was running into issues daily on our busy cluster and now very rarely see the issue, so its good enough for me until the actual backend gets fixed.

[2015-07-21 15:54] BitResolution opened #623 "Adding Nodes (automated)"
Hi we're deploying Disco using docker/ansible and would like to be able to add nodes without having to manually poke the UI.

Is there an existing method (other than CURLing) to do this? E.g a config file or REST API?

Thanks

[2015-07-22 00:58] pooya commented on #623
This is not the best solution, but you can always override the DISCO_MASTER_CONFIG file manually before starting disco. Disco will read that file and load the nodes from it.
On my desktop DISCO_MASTER_CONFIG is /usr/var/disco/disco_8989.config

If you have Erlang shell on disco, you can get the name of the file with:
disco:get_setting("DISCO_MASTER_CONFIG").

[2015-07-23 15:13] BitResolution opened #624 "goldrush is aquired via git: protocol instead of https - causes errors in some environments"
Because its using the git protocol some environments are not able to build disco from source due to firewall restrictions.

A workaround appears to be executing the following before buiding disco
        git config --global url."https://".insteadOf git://

Please could you adjust the dependency resolution for this artifact? I'll try and put a pull request together.

[2015-07-24 05:16] pooya commented on #624
Yes. As you see in the following, goldrush is using git://
https://github.com/basho/lager/blob/2.0.3/rebar.config
Disco is using https:
https://github.com/discoproject/disco/blob/develop/master/rebar.config
Fixing this involves forking rebar (which is not a big deal), but is it really necessary if there is such a workaround?

[2015-08-03 10:28] PawelTobis commented on #602
I confirm the same behaviour on my CentOS 6.6 with the following software packages:

[code]

I would only like to add that after issuing `disco start` for the first time, no error log is created and, a described above, only one line of error description is printed to stdout:

[code]

At this point, a zero-length file `/usr/var/disco/disco_8989.config` is created.

Further steps and results are the

[2015-08-10 14:10] danielpizarro commented on #339
@pmundkur it they are really unsupported, then this part of documentantion should be removed:https://disco.readthedocs.org/en/0.4.5/start/download.html#debian-packages .

Links are broken anyway.

[2015-08-12 10:26] BitResolution opened #626 "Copyright information"
Hi,
Would it be possible to update the copyright information for the project so that it covers 2015? It would make our legal department very happy.

Thanks
James

[2015-08-12 10:28] BitResolution opened #627 "Project status"
Hi,

On your project homepage there is a link that say "Try Disco (alpha)" does this mean Disco should be considered alpha or that the "Try Disco" feature is in alpha?

Thanks
James

[2015-08-14 06:58] pooya commented on #627
The "Try" Feature is alpha (as is the Sandstorm platform that Disco Demo runs in).

[2015-08-14 06:58] #627 closed, assigned to nobody

[2015-08-14 17:07] pmundkur commented on #339
Daniel, I don't maintain/develop Disco anymore.  Perhaps you could
bring this up on the mailing list?

[2015-08-15 03:12] pooya commented on #626
Updated.

[2015-08-15 03:12] #626 closed, assigned to nobody

[2015-08-15 03:21] #623 closed, assigned to nobody

[2015-08-16 02:16] viksit opened #629 "Disabling colored output on the console"
I can't find any documentation to disable colored console output - what am I missing? Setting DISCO_EVENTS="nocolor" in ~/.disco doesn't seem to help. Any pointers?

Thanks!

[2015-08-25 14:19] BitResolution opened #630 "Can't run example from documentation"
Hi,
I've set up a disco cluster on EC2 using ansible to provision the machines. I can successfully lauch disco, can see the black nodes on the status page, but when I try and execute the sample code (word count) from the documentation I get the following error.

[code]

I did see #443 and have execute the commands you asked them to:

[code]

I've also tried running the healthcheck but I get the fo

[2015-08-25 14:20] BitResolution commented on #626
Thanks :)

[2015-08-25 14:21] BitResolution commented on #627
Great thanks for the clarification, our legal guys were getting a bit fussy/paranoid

[2015-08-25 14:22] BitResolution commented on #624
OK 3rd party library issue not really your problem. Maybe worth noting this in the docs?

[2015-08-25 14:23] BitResolution commented on #623
Thanks works perfectly :)

[2015-10-02 15:37] elfeto opened #631 "Each disco node sees itself as the master"
Hi,

I have disco running with 7 nodes, master included. With the nodes with no disco process running I start the master, and the master starts the nodes like in the tutorial. The process on the node is like:

"disco    14960  0.0  0.0 290616 18636 ?        Sl   10:24   0:00 /usr/lib64/erlang/erts-5.8.5/bin/beam.smp -K true -- -root /usr/lib64/erlang -progname erl -- -home /home/users/disco -- -no

[2015-12-09 06:14] erikdubbelboer opened #633 "Occasional worker.py: Text file busy"
Occasionally we get the following error:

[code]

This is always at the start of the job so I'm guessing there is some race condition between writing the file and trying to execute it. I think it's probably in the erlang side of things and my experience with erlang isn't strong enough to look into this myself yet.

Other messages along this error:
<img width="1471" alt="screen shot 2015-12-09 at 1

[2016-01-31 22:23] ghost opened #634 "DNS mappings to IP addresses not being cached?"
Started a small Disco cluster this weekend on Amazon EC2 machines and wondered why _regional traffic_ popped up. [7GB in two afternoons](http://serverfault.com/questions/753053/aws-regional-traffic-track-down-where-it-comes-from/753067).

All instances were in the same availability zone (`us-east-1d`) which means communication between these instances does not sum up to _regional traffic_ (unless u

[2016-02-12 22:24] ghost commented on #634
Finally found the culprit for the huge amount of traffic: Ubuntu has an update server inside AWS, but probably not inside my AZ or it's because it's getting resolved to a public IP. No matter what, but `apt-get update` causes so called _regional_ traffic.

Unfortunately, now we do not know how much traffic all DNS requests acquire. I can only tell you that there are about 5 DNS requests per second

[2016-02-12 22:26] #634 closed, assigned to nobody

[2016-04-19 17:06] gilessbrown opened #638 "GC failure after removing a dead node"
As described in a disco-dev (google group)[https://groups.google.com/forum/#!topic/disco-dev/yrrSwexLWkQ] post I had a problem where GC was failing with an "unable to get tag" message in the logs.

The tag for which this message was produced contained a urls for a blob with a replica on a node that had died and been removed from the cluster.

I wrote a script to manually remove the blob references

[2016-05-11 04:06] Kiddinglife opened #639 "How to let disco generate input data in real-time and then do map-reduce?"
my input data has to be generated in real time instead of reading from the prepared text files.
I there a way to let mapper process load my python module and then run it to generate raw inputs and then do map-reduce on them?

[2016-05-11 04:10] Kiddinglife commented on #639
I knew Yarn but it still separates real time raw input data generation from map-reduce? In other words, it does my job in two individual steps: 1. run my python module and generate raw inputs and store then in text files 2. use these text files in map-reduce-cluster.

[2016-05-11 06:40] erikdubbelboer commented on #639
In theory you could run the map on empty blobs (as many as your module needs) and just `yield` the results of your module to the reduce function instead of anything from the file.

[2016-05-12 00:31] Kiddinglife commented on #639
thanks. it seems work on me.

[2016-05-12 00:31] #639 closed, assigned to nobody

[2016-06-25 16:59] gilessbrown commented on #631
Outside of the actually running of the job on the worker, I do not think that the worker is tied to a particular master machine.

When running a Job the worker does know which master it is serving.  Otherwise it would not be able to save the results back to DDFS (The `save_results` worker parameter implemented here https://github.com/discoproject/disco/blob/a89e37843bad58f744a29d642f84686ae467a6c0

[2016-06-25 17:10] gilessbrown commented on #629
The documentation is here:
    http://disco.readthedocs.io/en/latest/lib/settings.html?highlight=DISCO_EVENTS#envvar-DISCO_EVENTS
but from what you describe it looks like you are setting the right thing.

If you are able to set a breakpoint or step into the code that waits for job results you'll find that line 9 of the `lib/disco/eventmonitory.py` is where that setting is applied.

[2016-06-26 19:11] gilessbrown commented on #577
Isn't this just a question of changing the `.split()` to `.split(None, 2)`?

[2016-12-17 00:10] ghost opened #642 "disco.error.DiscoError: Failed to submit jobpack: Job failed to start: invalid_job_inputs"
This does not work:

[code]

This sort of works:

[code]

Just this for a very very long time:

[code]

(venv_xk) jenkins@jenkins-4139:~/workspace/count_keys$ echo $LANG
en_US.UTF-8
(venv_xk) jenkins@jenkins-4139:~/workspace/count_keys$ python --version
Python 2.7.6
jmunsch@disco-master-5147:~$ erl version
Erlang R16B03 (erts-5.10.4) [source] [64-bit] [async-threads:10] [kernel-poll:false]

[2016-12-17 00:17] ghost commented on #630
I had a similar issue, it was something to do with using the newer `pipeline` worker vs `classic`

possibly defining `self.pipeline`

[2016-12-17 00:25] ghost commented on #642
I was able to resolve this issue by updating the input tuples.

To: `(<index>,<index>, <input>)`

rebooting all of the disco nodes

restarting disco-master: `service disco-master restart`

disco UI > configure > Misc. > max failures = 1

and purging the disco master jobs:

[code]

[2016-12-17 00:25] #642 closed, assigned to nobody

[2016-12-17 04:56] gilessbrown commented on #638
OK, so the right answer here is that I should have blacklisted the node from DDFS and then waited until the node was clear as described here: http://disco.readthedocs.io/en/latest/howto/administer.html#blacklisting-a-ddfs-node

[2016-12-17 04:56] #638 closed, assigned to nobody

[2016-12-27 22:15] ghost opened #645 "Status of wiki page: "DDFS Evolution""
https://github.com/discoproject/disco/wiki/DDFS-Evolution

This page was last edited on June 14, 2012.

Is this information out of date or is some of it still applicable to the current day DDFS?

Thanks!

[2016-12-31 03:11] pooya commented on #645
I believe the information still applies and we still have those issues.

[2017-02-01 06:03] amit-siddhu opened #646 "Compiling folsomite error"
Compiling /home/disco/master/deps/folsomite/src/folsomite_graphite_client.erl failed:
/home/disco/master/deps/folsomite/src/folsomite_graphite_client.erl:none: error in parse transform 'lager_transform': {function_clause,
                                             [{lager_transform,
                                               '-walk_ast/2-fun-0-',

[2017-02-01 20:48] ghost commented on #646
Which version of erlang and rebar?

[2017-02-02 07:26] amit-siddhu commented on #646
Erlang - 19
Rebar - 2.2.0

I managed to compile against erlang 18.3 but after handling many deprecation issues.

[2017-02-13 09:38] amit-siddhu opened #648 "ValueError: too many values to unpack"
File: disco/util.py, line 172, in urlsplit
    host, port = netloc.parse(locstr)
ValueError: too many values to unpack

[2017-03-31 23:29] compevo opened #650 "Fails to compile on Centos 6"
==> folsomite (compile)
Compiling /root/disco/master/deps/folsomite/src/riemann_error_logger.erl failed:
/root/disco/master/deps/folsomite/src/riemann_error_logger.erl:none: error in parse transform 'lager_transform': {function_clause,
                                             [{lager_transform,
                                               '-walk_ast/2-fun-0-',

[2017-04-03 17:47] ghost commented on #650
@compevo  Is this related? https://github.com/discoproject/disco/issues/646

[2017-04-12 22:05] compevo commented on #602
Same issue in Centos 6.7 I cannot get Disco to start and there doesn't seem to much support or documentation for this project in Centos unfortunately.

Erlang R14B04 (erts-5.8.5) [source] [64-bit] [smp:12:12] [rq:12] [async-threads:0] [kernel-poll:true]

Eshell V5.8.5  (abort with ^G)
(disco_8989_master@testing)1> 17:19:26.566 [info] Application lager started on node disco_8989_master@testing
17:1

[2017-06-14 06:35] snehlatamohite opened #651 "make test fails on python3.5 with error ImportError: No module named 'urlparse'"
Hi All,

make test fails on python3.5  on ubuntu 16.04 with error ImportError: No module named 'urlparse'

I could able to fix the issue by changing import statement inside disco/util.py file from **from urlparse import urlparse** to  **from urllib.parse import urlparse**.
It looks that in python3.5 from urlparse name has been changed to urllib.parse .

Please let me know if fix is already availab

[2017-06-14 09:56] ghost commented on #651
There are some related tickets as well:

 - https://github.com/discoproject/disco/issues/614
 - https://github.com/discoproject/disco/issues/619

But there is also this:
 - https://github.com/discoproject/disco/blob/master/lib/disco/compat.py

It might be possible to modify compat.py to add the new syntax for urlparse?

Thanks for looking at using disco with python3.5 on 16.04

Please feel free to

[2017-06-14 10:02] ghost commented on #614
https://github.com/discoproject/disco/issues/619

[2017-06-14 10:02] ghost commented on #619
https://github.com/discoproject/disco/issues/614

[2017-06-18 21:38] zimmerzam opened #652 "Erlang/OTP 20 installation issues / unrecommended BIF"
I tried to compile Disco on ArchLinux, without success.
The issue is probably due to the latest Erlang version installed in Arch.
I was able to compile everithing after substituting random:* -> rand:* and erlang:now() with erlang:timestamp() everywhere.
I hope this can help

[2017-06-20 17:22] thorin-schiffer opened #653 "Setting polling interval to 0.1 loops jobtask execution"
Reproduce:

`job.wait(poll_interval=0.1, show=True)`

It's quite logical when you see poll_interval must be integer and casting from 0.1 makes it 0, but it's not easy to diagnose from outside.

[2017-08-22 14:39] jackieduckie commented on #646
I'm running into the same issue on **Erlang - 20, Rebar 3.5.1**

[2017-08-22 19:37] ghost commented on #646
@jackieduckie thanks for the feedback do you have the traceback?

[2017-08-23 01:44] jackieduckie commented on #646
==> goldrush (get-deps)
==> lager (get-deps)
==> bear (get-deps)
==> meck (get-deps)
==> folsom (get-deps)
==> folsomite (get-deps)
==> plists (get-deps)
==> mochiweb (get-deps)
==> master (get-deps)
==> goldrush (compile)
==> lager (compile)
==> bear (compile)
==> meck (compile)
==> folsom (compile)
==> folsomite (compile)
Compiling /Users/RuiningDong/disco/master/deps/folsomite/src/folsomite_gra

[2017-08-23 16:51] ghost commented on #646
@jackieduckie this looks like the same error. can you try the fix created here : https://github.com/amit-siddhu/disco/commit/4763ac81b26a7dd50d3aa88f6db3fb83b5cfad52

Also see : https://github.com/discoproject/disco/pull/647
I haven't seen what the differences are between erl19 and erl 20.

If you know what changes have occurred between 19 and 20 feel free to open a pull request.

[2017-08-29 12:47] jackieduckie commented on #646
Yes that solves part of the problem, combined with replacing now() with timestamp(), and updating the .config file of rebar, it works now. Thank you!

[2017-11-30 07:22] pombredanne opened #656 "Time to give some more love to disco?"
@jflatow @pooya I wondered if you had some time to give some tender and love to the pending PRs?
Thanks!

[2017-12-14 07:08] ConstantinSco commented on #341
Could you show me your code?I meet this fault
'utf-8' codec can't decode bytes in position 138-139: invalid continuation byte
Thanks.

[2018-02-11 13:53] kunthar opened #658 "is this project is officially dead?"
if yes, please announce it on your web page and people could acknowledge what happens.
if no, let us know what is happening.
i'd like to help but i need to be sure that core team is working on it.

[2019-05-07 14:53] johann-petrak commented on #658
If the authors are still active on github it would be very much appreciated to get a response to this issue

[2019-05-07 15:56] pmundkur commented on #658
None of the authors (I'm only one of them), afaik, use Disco in their current jobs.  It's up to active users to step up and take over maintainership/development. Ideally, this would be folks who run it everyday at scale.

[2019-10-19 21:03] hefnawi commented on #658
Hello everyone,

I am working on reviving Disco Project again and I will start by upgrading the python version and would really appreciate any help from the erlang people =)

I wrote these two articles of my experience so far with Disco:
https://hefnawi.me/posts/disco-erlang-python-mapreduce/
https://hefnawi.me/posts/disco-erlang-python-mapreduce-part-2/

Not very comprehensive but I will dedicate